body {
  padding: 20px;
  background-color: black;
  display: flex;
  justify-content: center;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.form {
  width: 500px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  color: #f2f2f2;
  border-radius: 10px;
  background-color: #121212;
  gap: 8px;
}
.form label {
  font-family: sans-serif;
}
.form input {
  padding: 8px;
  border-radius: 8px;
  border: solid 1px grey;
  margin-bottom: 5px;
  cursor: pointer;
}
.form .add {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: solid 1px grey;
  margin-top: 10px;
  cursor: pointer;
}
.form .add:hover {
  cursor: pointer;
  background-color: burlywood;
  border:solid 2px black;
  color: #121212;
  font-size: 15px;
}
.guest-container {
  width: 100%;
  display: flex;
  padding-top: 10px;
  flex-direction: column;
  gap: 5px;
}
.guest {
  position: relative;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  color: #f2f2f2;
  background-color: rgb(60, 144, 144);
}
.guest p {
  font-size: 20px;
  font-family:sans-serif;
}
.guest button {
  padding: 5px;
  color: #f2f2f2;
  border: solid 1px #f2f2f2;
  border-radius: 8px;
}
.guest .edit {
  position: absolute;
  right: 20px;
  top: 10px;
  background-color: green;
}
.guest .delete {
  position: absolute;
  right: 20px;
  bottom: 10px;
  background-color: red;
}
.modal {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: block;
  justify-content: center;
  align-items: center;
}
.inner-modal {
  width: 50%;
  height: 50vh;
  padding: 10%;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.inner-modal input {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: solid 1px #121212;
}
.inner-modal label {
  font-size: 20px;
  font-weight: 400;
}
.inner-modal button {
  width: 100%;
  padding: 5px;
  border-radius: 8px;
  color: #f2f2f2;
  border: solid 1px silver;
}
.inner-modal .cancel {
  background-color: red;
}
.inner-modal .update {
  background-color: green;
}

.inner-modal button:hover,
.inner-modal label:hover {
  cursor: pointer;
  opacity: 0.9;
}
.inner-modal input:hover {
  cursor: pointer;
  background-color: beige;
}
